.card {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)) !important;
  }

  .title {
    font-weight: 700 !important;
  }

  .item {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    border-radius: var(--mantine-radius-md) !important;
    height: rem(90px) !important;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)) !important;
    transition:
      box-shadow 150ms ease,
      transform 100ms ease;

    @mixin hover {
      box-shadow: var(--mantine-shadow-lg);
      transform: scale(1.05);
    }
  }
