.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    //background-size: cover;
    //background-image: url(https://prefecturadeesmeraldas.gob.ec/wp-content/uploads/2025/08/17580-scaled.jpg);
}
.wrapper_paper {
    margin: auto;
    width: 100%;
    max-width: 90vw;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    /* Para pantallas pequeñas (móviles) */
    @media (min-width: 400px) {
        max-width: 350px;
    }

    /* Para pantallas medianas */
    @media (min-width: 600px) {
        max-width: 570px;
    }
}

.title {
    margin-top: auto;
    font-weight: 900;
}
